<!--
  Generated template for the PizzamenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="nav">
      <button ion-button menuToggle>
          <ion-icon  name="menu"></ion-icon>
        </button>
      <!-- <ion-buttons end>
      <button large ion-button icon-only (click)="goCart()">
        <ion-icon name="ios-cart-outline"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title text-left>Add New</ion-title>
    
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-card *ngIf="!myCategory">
      
        <ion-card-content>
            Please go to setting and create class        </ion-card-content>
      
      </ion-card>

  <div class="icontent" *ngIf="myCategory">
      
    <form #AddForm="ngForm" (ngSubmit)="AddCustomer(AddForm.value);AddForm.reset()" >
    
       <ion-item >
          <ion-label class="addmenu">Class</ion-label>
          <ion-select  #category="ngModel" name="category" [(ngModel)]="data.category"  ngModel required>
              <ion-option *ngFor="let items of myCategory" value="{{items._id}}">{{items.category}}</ion-option>
           
          </ion-select>
        </ion-item>
        <ion-item>
            <ion-label class="addmenu"> PAYMENT TYPE</ion-label>
            <ion-select #paymentmode="ngModel" name="paymentmode" [(ngModel)]="data.paymentmode" required  ngModel>
                <ion-option  value="1month">Monthly</ion-option>
                <ion-option  value="3month">3 month</ion-option>

                <ion-option  value="6month">6 month</ion-option>
                <ion-option  value="yearly">yearly</ion-option>

            </ion-select>
          </ion-item>
      <div class="detailsholder" text-center padding>

        <ion-item>
          <!-- <span  item-left><ion-icon name="ios-lock-outline"></ion-icon> </span> -->
      <ion-input   class="name" type="text"  placeholder="NAME" #name="ngModel"  name="name" required  [(ngModel)]="data.name"  ngModel></ion-input>

    </ion-item>
    <div class="error" *ngIf="name?.errors && (name?.touched || name?.dirty)">
      <p class="error" [hidden]="!name.errors.required"> Please enter your Name. </p>
     
    </div>
              <ion-item>
                  <!-- <span  item-left><ion-icon name="ios-call-outline"></ion-icon> </span> -->
                  <ion-input   class="mobile" type="number" placeholder="MOBILE NO"  #phone="ngModel" name="mobile" maxlength="10" pattern="[0-9]{10}" required  [(ngModel)]="data.mobile" ngModel> </ion-input>
        
                </ion-item>
                <div class="error" *ngIf="phone?.errors && (phone?.touched || phone?.dirty)">
                  <p class="error" [hidden]="!phone.errors.required"> Please enter your phone no. </p>
                
                  <p class="error" [hidden]="!phone.errors.pattern"> Please enter valid phone no. </p>
                </div>

        <ion-item>
          <!-- <span  item-left><ion-icon name="ios-lock-outline"></ion-icon> </span> -->
      <ion-input   class="place" type="text" placeholder="PLACE" #place="ngModel" name="place" required [(ngModel)]="data.place"  ngModel></ion-input>

    </ion-item>
    <div class="error" *ngIf="place?.errors && (place?.touched || place?.dirty)">
      <p class="error" [hidden]="!place.errors.required"> Please enter your Place. </p>
     
    </div>
      
    <ion-item>
        <!-- <span  item-left><ion-icon name="ios-lock-outline"></ion-icon> </span> -->
    <ion-input   class="registrationFee" type="number" placeholder="FEES" #place="ngModel"  name="registrationFee" [(ngModel)]="data.registrationFee"   ngModel></ion-input>

  </ion-item>
  
    </div>
        <div class="butnsholder" padding>
          
            <button  class="addBtn" color="dark" [disabled]="!AddForm.form.valid" ion-button block>ADD</button>
        </div>
   
        </form>
 
  </div>

</ion-content>
