



<ion-content class="bgpic">
    
  <div class="icontent" padding-vertical>
      <div class="logoholder animated pulse" text-center><br><br><br><br><br><br><br>
          <img src="assets/PERFECT-FITNESS-CENTER-LOGO-1.png" alt="">
          </div>


          <form #loginForm="ngForm" (ngSubmit)="Login(loginForm.value)">
          <div class="detailsholder" text-center padding>
              <ion-item>
              <span  item-left><ion-icon name="ios-call-outline"></ion-icon> </span>
              <ion-input   class="phone" type="number" placeholder="PHONE" #phone="ngModel" name="phone" maxlength="10" pattern="[0-9]{10}" required ngModel> </ion-input>

             

            </ion-item>
            <div class="error" *ngIf="phone?.errors && (phone?.touched || phone?.dirty)">
                <p class="error" [hidden]="!phone.errors.required"> Please enter your phone no. </p>
                <!-- <div class="error" *ngif="phone?">

                </div> -->
                <p class="error" [hidden]="!phone.errors.pattern"> Please enter valid phone no. </p>
              </div>
              <ion-item>
                  <span  item-left><ion-icon name="ios-lock-outline"></ion-icon> </span>
              <ion-input   class="password" type="password" placeholder="PASSWORD" #password="ngModel" name="password" required ngModel></ion-input>
        
            </ion-item>
            <div class="error" *ngIf="password.errors && (password.touched || password.dirty)">
                <span class="error" [hidden]="!password.errors.required"> Please enter your password. </span>
              </div>
            </div>

            <div class="butnsholder" padding>
              
                <button  class="loginbtn" color="light"  ion-button block>LOGIN</button>
            </div>

            </form>

  </div>
  <p class="power">Powerd by Craki-ON</p>


</ion-content>
