<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="lred">
    <ion-title text-center>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="icontent">
      <div class="detailsholder" padding>
          <ion-label text-left padding-horizontal>Full Name</ion-label>
          <ion-item padding>
              <ion-input  [(ngModel)]="FullName" class="username" placeholder="John Doe"> </ion-input>
            </ion-item>
            <ion-label  text-left padding-horizontal>Username</ion-label>
            <ion-item padding>
                <ion-input  [(ngModel)]="Username" class="username" placeholder="JohnD"> </ion-input>
              </ion-item>
            <ion-label  text-left padding-horizontal>Email</ion-label>
            <ion-item padding>
                <ion-input [(ngModel)]="email" class="email" placeholder="johnd@gmail.com"> </ion-input>
              </ion-item>
            <ion-label  text-left padding-horizontal>Password</ion-label>
            <ion-item padding>
                <ion-input [(ngModel)]="password" class="password" placeholder=""> </ion-input>
              </ion-item>
            <ion-label  text-left padding-horizontal>Telephone</ion-label>
            <ion-item padding>
                <ion-input [(ngModel)]="Telephone" class="telephone" placeholder="+11256895"> </ion-input>
              </ion-item>
            <ion-label  text-left padding-horizontal>Address</ion-label>
            <ion-item padding>
                <ion-input [(ngModel)]="address" class="address" placeholder=""> </ion-input>
              </ion-item>
      </div>

      <div class="butnsholder" padding-horizontal>
          <button  class="loginbtn" color="light" ion-button block (click)="Register()">Register</button>
          
          
      </div>
  </div>

  <div class="onimage" text-center *ngIf="trigger">
    
      <lottie-animation-view
      [options]="lottieConfig"
      [width]="400"
      [height]="700"
      (animCreated)="handleAnimation($event)">
  </lottie-animation-view>

  </div>

  

</ion-content>
