<!--
  Generated template for the PizzamenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="nav">
        <button ion-button menuToggle>
            <ion-icon  name="menu"></ion-icon>
          </button>
        <!-- <ion-buttons end>
        <button large ion-button icon-only (click)="goCart()">
          <ion-icon name="ios-cart-outline"></ion-icon>
        </button>
      </ion-buttons> -->
      <ion-title text-left>Broadcast Message</ion-title>
      
    </ion-navbar>
  
  </ion-header>
 
  
  <ion-content >
      <ion-list>

      <form #broad="ngForm" (ngSubmit)="brodCast(broad.value)">
    
          <ion-item>
             <ion-label>Category</ion-label>
             <ion-select  #category="ngModel" (ionChange)="onSelectChange(broad.value)" name="category" [(ngModel)]="data.category"  ngModel required>
                 <ion-option *ngFor="let items of myCategory" value="{{items._id}}">{{items.category}}</ion-option>
              
             </ion-select>
           </ion-item>
           </form>

          <ion-item>
            <ion-textarea placeholder="Enter a Message"></ion-textarea>
          </ion-item>
           </ion-list>


        
        <button (click)="send()" class="loginbtn" color="dark"  ion-button block>Send Message</button>

  </ion-content>
  