page-all-customer {
    .setting{
        background-color: rgba(53, 53, 53, 0.54);
    }
    .categoryName{
        font-size:15px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: capitalize;
    
    }
}
