<!--
  Generated template for the PizzamenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="nav">
        <button ion-button menuToggle>
            <ion-icon  name="menu"></ion-icon>
          </button>
        <!-- <ion-buttons end>
        <button large ion-button icon-only (click)="viewALL()">
          <ion-icon name="ios-eye-outline"></ion-icon>
        </button>
      </ion-buttons> -->
      <ion-title text-left>All logs</ion-title>
      
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>
      <ion-searchbar (ionInput)="getTopics($event)" [showCancelButton]="shouldShowCancel" (ionCancel)="onCancel($event)"></ion-searchbar>
 

      <!-- <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar> -->
      <form #AddForm="ngForm" (ngSubmit)="ViewStudent(AddForm.value)">
    
          <ion-item>
             <ion-label   class="categoryName">class</ion-label>
             <ion-select  #category="ngModel" (ionChange)="onSelectChange(AddForm.value)" name="category" [(ngModel)]="data.category"  ngModel required>
                 <ion-option *ngFor="let items of myCategory" value="{{items._id}}">{{items.category}}</ion-option>
              
             </ion-select>


           </ion-item>
           </form>

           <div *ngIf="GETstudents" class="setting">
            <ion-list *ngFor="let items of GETstudents">
             <ion-item-sliding #item>
               <ion-item class="categoryName" >
                   {{items.name}}    <ion-icon name="ios-arrow-dropright-outline" item-end (click)="goProfile(items)"></ion-icon>

               </ion-item>
         
           
               <!-- <ion-item-options side="right">
                   <button ion-button ion-button color="danger" (click)="Delete(items._id)">Delete</button>
                   <button ion-button ion-button (click)="goProfile(items)">profile</button>

               </ion-item-options> -->
            
             </ion-item-sliding>
           </ion-list>
           </div>


 
  
  </ion-content>
  