<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="lred">
    <ion-title text-center>My Cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="icontent">
      <ion-list>
          <ion-card class="pizzacard animated zoomIn" >
                <ion-row>
                   
                    <ion-col col-5>
                        <ion-thumbnail item-start padding>
                            <img src="./assets/imgs/tpizz.svg" alt="">
    
                        </ion-thumbnail>
                    </ion-col>
                    <ion-col>
                      
                        <div class="details">
                          <ion-item style="margin: 0 !important; padding: 0 !important">
                           <h1>Pizza</h1>
                             <ion-icon item-end style="color: #dad8d8;" name="close"></ion-icon>
                          </ion-item>
                           
                            <h2>Size: Large</h2>
                            <ion-item no-lines text-center padding-horizontal>
                                <ion-label></ion-label>
                                <button ion-button icon-only class="countbtn" no-margin item-left clear color="lred" (click)="deleteFromCart(item.value.product_id, item.key)">
                                  <ion-icon ios="ios-remove-circle-outline" md="ios-remove-circle-outline">
                                  </ion-icon>
                                </button>
                                <button class="countbtn" ion-button item-left color="lred" clear>
                                  <!-- {{item.value.quantity}} -->{{5+1}}
                                </button>
                                <button class="countbtn" ion-button icon-only class="" no-margin item-left clear color="lred" (click)="addToCart(item.value.product_id, item.key)">
                                  <ion-icon ios="ios-add-circle-outline" md="ios-add-circle-outline">
                                  </ion-icon>
                                </button>
                                <h2 item-right>$20</h2>
                              </ion-item>
                            </div>
                    </ion-col>
                  </ion-row>
          </ion-card>

          <ion-card class="pizzacard  animated zoomIn">
                <ion-row>
                   
                    <ion-col col-5>
                        <ion-thumbnail item-start padding>
                            <img src="./assets/imgs/tpizz.svg" alt="">
    
                        </ion-thumbnail>
                    </ion-col>
                    <ion-col>
                      
                        <div class="details">
                          <ion-item style="margin: 0 !important; padding: 0 !important">
                           <h1>Pizza</h1>
                             <ion-icon item-end style="color: #dad8d8;" name="close"></ion-icon>
                          </ion-item>
                           
                            <h2>Size: Large</h2>
                            <ion-item no-lines text-center padding-horizontal>
                                <ion-label></ion-label>
                                <button ion-button icon-only class="countbtn" no-margin item-left clear color="lred" (click)="deleteFromCart(item.value.product_id, item.key)">
                                  <ion-icon ios="ios-remove-circle-outline" md="ios-remove-circle-outline">
                                  </ion-icon>
                                </button>
                                <button class="countbtn" ion-button item-left color="lred" clear>
                                  <!-- {{item.value.quantity}} -->{{5+1}}
                                </button>
                                <button class="countbtn" ion-button icon-only class="" no-margin item-left clear color="lred" (click)="addToCart(item.value.product_id, item.key)">
                                  <ion-icon ios="ios-add-circle-outline" md="ios-add-circle-outline">
                                  </ion-icon>
                                </button>
                                <h2 item-right>$20</h2>
                              </ion-item>
                            </div>
                    </ion-col>
                  </ion-row>
          </ion-card>
      </ion-list>

      <ion-list padding>
          <ion-list-header no-lines style="font-weight: bold">
            Your Orders
          </ion-list-header>
          <ion-item class="billd">
            <p item-start>Bill Total</p>
            <h3 item-end>$200</h3>
          </ion-item >
          <ion-item class="billd">
              <p item-start>Discount</p>
              <h3 item-end>0</h3>
            </ion-item>
            <ion-item class="billd">
                <p item-start><strong>Grand Total</strong></p>
                <h3 item-end><strong>$200</strong></h3>
              </ion-item>
        </ion-list>
        <div class="butnsholder" padding-horizontal>
            <button  class="loginbtn" color="light" ion-button block (click)="goCheckout()">Proceed to checkout</button> 
        </div>
  </div>

</ion-content>
