page-cart {
    .butnsholder{
        .loginbtn{
            border-radius: 25px;
            color: #ffffff!important;
            font-size: 1.5em;
        height: 50px;
        background-color: #E30025;
    
            
        }
    }
}
