<!--
  Generated template for the PizzamenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="nav">
        <button ion-button menuToggle>
            <ion-icon  name="menu"></ion-icon>
          </button>
        <!-- <ion-buttons end>
        <button large ion-button icon-only (click)="goCart()">
          <ion-icon name="ios-cart-outline"></ion-icon>
        </button>
      </ion-buttons> -->
      <ion-title text-left>Create class</ion-title>
      
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>


    <ion-item>
    <ion-input type="text" [(ngModel)]="category" pattern="/^\S{0,50}$/" placeholder="Enter class"></ion-input>
    </ion-item>
    
    <button *ngIf="!updateButton" [disabled]="!category" ion-button full color="dark" name="Add" (click)="save()" >Add </button>
    <button *ngIf="updateButton" ion-button full color="dark" (click)="Update()" >Update </button>
    <ion-list-header>
      ALL CATEGORY
    </ion-list-header>
    <div *ngIf="myCategory" class="setting">
     <ion-list *ngFor="let items of myCategory">
      <ion-item-sliding #item>
        <ion-item class="categoryName">
            {{items.category}}
        </ion-item>
  
    
        <ion-item-options side="right">
            <button ion-button ion-button color="danger" (click)="Delete(items._id)">Delete</button>

          <button ion-button ion-button color="dark" (click)="Edit(items._id,items.category)">Edit</button>
      
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    </div>
    </ion-content>
  