<!--
  Generated template for the PizzamenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="nav">
        <button ion-button menuToggle>
            <ion-icon  name="menu"></ion-icon>
          </button>
        <!-- <ion-buttons end>
        <button large ion-button icon-only (click)="goCart()">
          <ion-icon name="ios-cart-outline"></ion-icon>
        </button>
      </ion-buttons> -->
      <ion-title text-left>Profile</ion-title>
      
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content *ngIf="myItem">
      <div class="header-image"><img src="assets/splash.png"></div>
      <div class="main-content" text-wrap text-center >
          <div class="circular"> <img src="assets/PERFECT-FITNESS-CENTER-LOGO-1.png"></div>
          <h2 >{{myItem.name}}</h2>
          <div align="center">
             
              <!-- <ion-spinner ></ion-spinner> -->
             
            </div>
  
          <hr>
          <ion-list no-lines >
              <ion-item >
                  <ion-icon name="ios-calendar-outline" color="primary" item-start style="color:#108fd2;"></ion-icon>
                  <p>{{myItem.registerdDate}} to {{myItem.endDate}}</p>
                 
                  <!-- <a button ion-button href="mailto:{{user.email}}" color="primary" item-end medium>Open App</a> -->
              </ion-item>
              <ion-item >
                  <ion-icon item-start name="call" color="danger"></ion-icon>
                  <p>{{myItem.phone}}</p>
                
                  
              </ion-item>
       
              <ion-item >
                  <ion-icon item-start name="logo-usd" color="twitter"></ion-icon>
                  <p>{{myItem.registrationFee}}/{{myItem.paymentmode}}</p>
              </ion-item>
          </ion-list>
       
          <hr>
          <button ion-button block color="linkedin" icon-start (click)="Delete()" style="background-color:#108fd2;">
              <ion-icon name='ios-trash-outline'></ion-icon>
              Delete
          </button>
      
        
      </div>

     
  </ion-content>
  