<!--
  Generated template for the CheckoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="nav">
    <ion-title text-center>Payment Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="icontent" padding>
    <ion-card padding-vertical *ngIf="userdata">
      <ion-card-header >
       <h2 style="margin: 0 !important; color: #E30025">Student deatils</h2> 
      </ion-card-header>
      <h2 padding-horizontal>Name:{{userdata.name}}</h2>
      <p padding-horizontal>Phone:{{userdata.phone}}</p>
      <p padding-horizontal>Registerd Date:{{userdata.registerdDate}}</p>
      <p padding-horizontal>Fees:{{userdata.registrationFee}}</p>
      <p padding-horizontal>Payment Mode:{{userdata.paymentmode}}</p>
      <p padding-horizontal *ngIf="userdata.modifyDate">Last modified:{{userdata.modifyDate}}</p>

      <p padding-horizontal *ngIf="userdata.remark" class="remark">Remark:{{userdata.remark}}</p>

    </ion-card>
     <ion-card *ngIf="userdata">
          
        <ion-list radio-group >

            <!-- <button ion-button color="secondary">Amount:{{userdata.amountPayed}}</button> -->
            <button  class="loginbtn"  ion-button block color="danger"  >Pending:{{userdata.pending}}</button>
          </ion-list>
          
      </ion-card>

      <!-- <div class="butnsholder" padding-horizontal>
          <button  class="loginbtn" color="light" ion-button block (click)="showPopup()">Pay</button> 
      </div> -->
  </div>
  <ion-list>
      <ion-list-header>

       Your payment update
      </ion-list-header>
      <ion-item padding  (click)="toggleDetails(d)"><ion-icon color="primary" item-right name="ios-arrow-down"></ion-icon><p>Pay now</p>
      </ion-item>

   <div *ngIf="showDetails"class="detailsholder" padding>
           
    
     <form #AddForm="ngForm" (ngSubmit)="AddCustomer(AddForm.value);">
      <!-- <ion-item>
          <ion-label>Type</ion-label>
          <ion-select   #mode="ngModel" name="mode" required ngModel>
            <ion-option value="Pending">Pending</ion-option>
            <ion-option value="Amount">Amount</ion-option>

          
          </ion-select>
        </ion-item> -->
            <ion-label text-left padding-horizontal>amount</ion-label>
            <ion-item padding>
                <ion-input  type="number" class="Amount" placeholder="₹" #amount="ngModel" name="amount" required ngModel > </ion-input>
              </ion-item>
            <ion-label  text-left padding-horizontal >Remark</ion-label>
            <ion-item padding>
                <textarea   #remark="ngModel" name="remark" ngModel> </textarea>
              </ion-item>
              <button  class="loginbtn"  ion-button block   [disabled]="!AddForm.form.valid">Update</button>

         
      </form>
      </div>

   
    </ion-list>
</ion-content>
