<!--
  Generated template for the PizzamenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="nav">
      <button ion-button menuToggle>
          <ion-icon  name="menu"></ion-icon>
        </button>
      <!-- <ion-buttons end>
      <button large ion-button icon-only (click)="goCart()">
        <ion-icon name="ios-cart-outline"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title text-left>Payment</ion-title>
    
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getTopics($event)" [showCancelButton]="shouldShowCancel" (ionCancel)="onCancel($event)"></ion-searchbar>
      <div class="icontent" *ngIf="myCategory">
     
        <form #AddForm="ngForm" (ngSubmit)="AddCustomer(AddForm.value);AddForm.reset()" >
        
            <ion-item>
                <ion-label   class="categoryName">class</ion-label>
                <ion-select  #category="ngModel" (ionChange)="onSelectChange(AddForm.value)" name="category" [(ngModel)]="data.category"  ngModel required>
                    <ion-option *ngFor="let items of myCategory" value="{{items._id}}">{{items.category}}</ion-option>
                 
                </ion-select>
   
   
              </ion-item>
        </form>
   </div>
   
   <div *ngIf="GETstudents" class="setting">
      <ion-list *ngFor="let items of GETstudents">
       <ion-item-sliding #item>
         <ion-item class="categoryName" >
             {{items.name}}  <p>{{items.phone}}</p>     <button ion-button  item-end round (click)="payment(items)">Pay Now
             </button>
             <h5 *ngIf="!items.pending==0"class="pending">pending:{{items.pending}}</h5>

         </ion-item>
   
     
         <!-- <ion-item-options side="right">
             <button ion-button ion-button color="danger" (click)="Delete(items._id)">Delete</button>
             <button ion-button ion-button (click)="goProfile(items)">profile</button>

         </ion-item-options> -->
      
       </ion-item-sliding>
     </ion-list>
     </div>
</ion-content>
