<!--
  Generated template for the PizzamenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="nav">
        <button ion-button menuToggle>
            <ion-icon  name="menu"></ion-icon>
          </button>
        <!-- <ion-buttons end>
        <button large ion-button icon-only (click)="goCart()">
          <ion-icon name="ios-cart-outline"></ion-icon>
        </button>
      </ion-buttons> -->
      <ion-title text-left>Activity</ion-title>
      
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>
      <ion-searchbar (ionInput)="getTopics($event)" [showCancelButton]="shouldShowCancel" (ionCancel)="onCancel($event)"></ion-searchbar>      <!-- <ion-item>
        <ion-label class="addmenu">Sort</ion-label>
        <ion-select   [(ngModel)]="activity" (ionChange)="changeActivity($event)">
            <ion-option  value="today">Today</ion-option>
            <ion-option  value="thisweek">This week</ion-option>


        </ion-select>
      </ion-item> -->
      <div *ngFor="let items of paymetBoys" class="setting">
        <ion-item-group *ngIf="paymetBoys" ><br>
            <ion-list>

              <ion-list-header>
                <p>{{items.name}} </p>   
                <p>{{items.phone}} </p>               
            
                  
                <button ion-button outline item-end   color="danger"><a outline item-end  href="tel:{{items.phone}}">call</a></button>
                <button ion-button outline item-end > <a href="sms:{{items.phone}}?body=your payment is pending please pay on time">sms</a>
                </button>
             

              </ion-list-header>
           
            
            </ion-list>

          </ion-item-group>
          </div>
         

          
  </ion-content>
  