<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="header">
      <button ion-button menuToggle  (click)=" openMenu()">
          <ion-icon  name="menu"></ion-icon>
        </button>
    <ion-title text-left *ngIf="UserData">{{UserData[0].organization}}</ion-title>
  
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="icontent">
    <ion-list>
        <ion-card class="cardleft animated bounceInLeft" (click)="goPizza()">
            <ion-item>
                <ion-thumbnail item-start padding>
                      <img src="./assets/imgs/dash1.png" alt="">
                   
                  </ion-thumbnail>
                  <div class="details">
                  <h2>Add New</h2>
                </div>
            </ion-item>
        </ion-card>
        <ion-card class="cardleft animated bounceInLeft" (click)="goTodayActivity()">
            <ion-item>
                <ion-thumbnail item-start padding>
                      <img src="./assets/imgs/dash2.png" alt="">
                   
                  </ion-thumbnail>
                  <div class="details">
                      <h2>Activity</h2>
                
                </div>
            </ion-item>
        </ion-card>

        <ion-card class="cardleft animated bounceInLeft" (click)="AllPending()">
            <ion-item>
                <ion-thumbnail item-start padding>
                      <img src="./assets/imgs/pending.png" alt="">
                   
                  </ion-thumbnail>
                  <div class="details">
                      <h2>Payment </h2>
                </div>
            </ion-item>
        </ion-card>

        <ion-card class="cardleft animated bounceInLeft" (click)="AllLogs()">
            <ion-item>
                <ion-thumbnail item-start padding>
                      <img src="./assets/imgs/dash3.png" alt="">
                   
                  </ion-thumbnail>
                  <div class="details">
                      <h2>All logs</h2>
                </div>
            </ion-item>
        </ion-card>

        <!-- <ion-card class="cardleft animated bounceInLeft" (click)="goBroadcast()">
        <ion-item>
            <ion-thumbnail item-start padding>
                  <img src="./assets/imgs/broadcast.png" alt="">
               
              </ion-thumbnail>
              <div class="details">
                  <h2>Broadcast Message</h2>
            
            </div>
        </ion-item>
    </ion-card> -->
    <ion-card class="cardleft animated bounceInLeft" (click)="goAttendance()">

</ion-card> 

   
    
    </ion-list>
  </div>

</ion-content>
